<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BismillahTA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BismillahTA.Properties.Settings>
            <setting name="fruit" serializeAs="String">
                <value />
            </setting>
            <setting name="animal" serializeAs="String">
                <value />
            </setting>
            <setting name="ball" serializeAs="String">
                <value />
            </setting>
            <setting name="xCoordHead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yCoordHead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xCoordRightFoot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yCoordRightFoot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xCoordLeftFoot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yCoordLeftFoot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="terapis" serializeAs="String">
                <value />
            </setting>
            <setting name="note" serializeAs="String">
                <value />
            </setting>
            <setting name="yCoordFoot" serializeAs="String">
                <value>0</value>
            </setting>
        </BismillahTA.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>